<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center my-4">
        <h1>Dashboard</h1>
        <div>
          <a href="/users/logout" class="btn btn-danger">Logout</a>
          <a href="/tasks" class="btn btn-primary ml-2">Go to Tasks</a>
        </div>
      </div>
      <h4>Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h4>
    </div>
  </body>
</html>
